@charset "UTF-8";

form{
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 5px;
}

form div{
	width: 330px;
	margin: 5px;
	display: flex;
}

input[type=submit]{
	padding: 5px 10px;
	margin: 10px;
}

.pwCheckBox+div{
	margin-top: 0;
}

.pwCheckBox{
	margin: 0 5px;
}

#pwCheck{
	font-size: 0.5em;
	color: red;
}

#id{
	background-color: lightgray;
	border-radius: 2px;
	border: 1px solid gray;
}
